/*.active{
	background-color: #000;
	color: #fff;
	padding: 25px;
}*/

.wrapper{
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
} 
.par_homework{
	width: 300px;
}
.homework_1{
	width: 342px;
}
.homework_2{
	width: 100%;
	height: 500px;
}
.box{
	width: 300px;
	background-color: pink;
	display: flex;
	cursor: pointer;
	flex-flow: column nowrap;
	justify-content: space-around;
	padding: 20px;
	text-align: center;
}
.random{
	font-family: Arial;
	font-size: 23px;
	
}
#randonNumber{
	font-weight: bold; 
	font-size: 45px;
}
#random__Button{
   margin: 2px 0;
   border: solid 1px transparent;
   border-radius: 4px;
   padding: 0.5em 1em;
   color: #ffffff;
   background-color: #9555af;
}
#position_X{
justify-content: center;
}
#position_Y{

}











